.parallax {
    height: 300px;
    background-image: url("../../assets/images/Immagini\ dinamiche/Img-dinamica2.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    max-width: 100%;
}

@media only screen and (min-width: 300px) {
    .parallax {
        margin-top: 900px;
        margin-bottom : 170px;
        background-image: url('../../assets/images/Immagini\ dinamiche/Img-dinamica2.webp');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (min-width: 600px) {
    .parallax {
        margin-top: 100px;
        margin-bottom : 150px
    }
}

