.scrollForm {
    height: 300px;
    background-image: url("../../assets/images/Immagini\ dinamiche/DSC01993.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    max-width: 100%;
}

@media only screen and (min-width: 300px) {
    .scrollForm {
        background-size: cover;
        background-position: 20% 70%;
        background-attachment: initial;
        background-repeat: no-repeat;
        background-image: url('../../assets/images/Immagini\ dinamiche/DSC01993.webp');
    }
}

@media only screen and (min-width: 768px) {
    .scrollForm {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url('../../assets/images/Immagini\ dinamiche/DSC01993.webp');
    }
}
